@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Anton&family=Montserrat&display=swap");

body {
  background-color: #f8f9ee;
  color: black;
  font-family: "Anton";
}

h1 {
  color: white;
  padding-bottom: 20pt;
  margin-top: 0px !important;
  margin-left: 10% !important;
  width: 500px;
}

h3 {
  margin-top: 10px !important;
}

p {
  font-size: 14pt;
  font-family: "Open Sans";
}

ol {
  list-style: none;
}

.collapsible-header {
  font-size: 25pt;
  font-family: "Open Sans";
}

.collapsible-body {
  font-size: 16pt;
  font-family: "Open Sans";
}

.collapsible-header:hover {
  font-size: 25pt;
  font-family: "Open Sans";
  text-decoration: underline #009973 0.1em;
}
.active > .collapsible-header {
  text-decoration: underline #009973 0.2em;
}

img {
  width: 80px;
  margin-right: 40px;
}

.container {
  padding-top: 10pt;
  padding-bottom: 10pt;
}

.quote {
  color: gray;
  font-style: italic;
}

footer {
  background-color: #6e9ca1;
  color: white;
  font-size: 16pt;
  padding: 15pt;
  height: 250px;
  margin-top: 5% !important;
  padding-top: 3% !important;
}

a:link,
a:visited,
a:active {
  color: #cccccc;
  font-size: 10pt;
}

.credit-me {
  color: #cccccc;
  padding: 5pt;
}
.credit {
  font-size: 10pt;
  padding: 5pt;
}
/* mouse over link */
a:hover {
  color: #aee4ec;
  background-color: transparent !important;
}

nav {
  box-shadow: none !important;
  -webkit-box-shadow: none;
  background-color: transparent !important;
  font-family: "Montserrat";
}

.starter {
  padding: 10em;
  margin-bottom: 5em;
  height: 920px;
}

.starter-text {
  width: 35%;
  margin-left: 10%;
  color: white;
  font-size: 17pt;
  text-align: justify;
}

.forest {
  background-image: url("./images/forest.jpg");
}

.divider {
  margin-top: 2%;
  margin-bottom: 2%;
}
